@{
    ViewData["Title"] = "Measurements";
}

<h1>Measurements</h1>

<div class="form-group">
    <div class="form-group">
        <label for="valueInput">Name</label>
        <input type="text" class="form-control" id="measurement_nameInput" placeholder="Enter name" />
        <label for="valueInput">Value</label>
        <input type="number" class="form-control" id="measurement_valueInput" placeholder="Enter value" />
    </div>
    <button id="measurement_addBtn" type="button" class="btn btn-primary">Add</button>
</div>
<script src="~/js/newMeasurementPanel.js" asp-append-version="true"></script>

<div id="measurement_container" class="container">
    <div class="row bg-light" data-row-type="header">
        <div class="col-sm">
            Id
        </div>
        <div class="col-sm">
            Name
        </div>
        <div class="col-sm">
            Value
        </div>
        <div class="col-sm">
            Created By
        </div>
        <div class="col-sm">
            <!-- Empty column for remove button -->
        </div>
    </div>
    <div class="row d-none" data-row-type="template">
        <div class="col-sm">
            First column
        </div>
        <div class="col-sm">
            Second column
        </div>
        <div class="col-sm">
            Third column
        </div>
        <div class="col-sm">
            Fourth column
        </div>
        <div class="col-sm">
            <a href="#" data-action="remove">Remove</a>
        </div>
    </div>
    <div class="row" data-row-type="data">
        <div class="col-sm">
            First column
        </div>
        <div class="col-sm">
            Second column
        </div>
        <div class="col-sm">
            Third column
        </div>
        <div class="col-sm">
            Fourth column
        </div>
        <div class="col-sm">
            <a href="#" data-action="remove">Remove</a>
        </div>
    </div>
</div>
<script src="~/js/measurementList.js" asp-append-version="true"></script>