@{
    ViewData["Title"] = "Measurements";
}

<h1>Measurements</h1>

<div class="form-group">
    <div class="form-group">
        <label for="valueInput">Name</label>
        <input type="text" class="form-control" id="measurement_nameInput" placeholder="Enter name" />
        <label for="valueInput">Value</label>
        <input type="number" class="form-control" id="measurement_valueInput" placeholder="Enter value" />
    </div>
    <button id="measurement_addBtn" type="button" class="btn btn-primary">Add</button>
    <button id="measurement_saveBtn" type="button" class="btn btn-primary d-none">Save</button>
    <button id="measurement_cancelBtn" type="button" class="btn btn-primary d-none">Cancel</button>
</div>
<script src="~/js/newMeasurementPanel.js" asp-append-version="true"></script>

<div id="measurement_container" class="container">
    <div class="row bg-light" data-row-type="header">
        <div class="col-sm">
            Id
        </div>
        <div class="col-sm">
            Name
        </div>
        <div class="col-sm">
            Value
        </div>
        <div class="col-sm">
            Created By
        </div>
        <div class="col-sm">
            <!-- Empty column for edit button -->
        </div>
        <div class="col-sm">
            <!-- Empty column for remove button -->
        </div>
    </div>
    <div class="row d-none" data-row-type="template" data-internal-id="">
        <div class="col-sm" data-column-type="id">

        </div>
        <div class="col-sm" data-column-type="name">

        </div>
        <div class="col-sm" data-column-type="value">

        </div>
        <div class="col-sm" data-column-type="createdBy">

        </div>
        <div class="col-sm">
            <a href="#" data-action="edit">Edit</a>
        </div>
        <div class="col-sm">
            <a href="#" data-action="remove">Remove</a>
        </div>
    </div>
</div>
<script src="~/js/measurementListPanel.js" asp-append-version="true"></script>
<script src="~/js/measurementsController.js" asp-append-version="true"></script>